BasedOnStyle: Google
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: 'true'
BinPackArguments: 'false'
BinPackParameters: 'false'
ColumnLimit: '80'
ContinuationIndentWidth: '2'
Cpp11BracedListStyle: 'false'
DerivePointerAlignment: 'false'
IndentWidth: '2'
Language: Cpp
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: 'false'
SpaceBeforeParens: ControlStatements
SpacesInParentheses: 'false'
Standard: Cpp11
TabWidth: '2'
UseTab: Never

